html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, yellow 50%, #E4E9FD 50%);
    
    min-height: 1000px;
    font-family: 'helvetica neue';
    font-size:x-large;
  }
body{
  align-items: center ;
  /* background:url("images/taxiPic.jpg")center no-repeat; */
}
  .source{
    display: block;
    margin: auto;
    /* font-family: 'Source Serif Pro', serif; */
  }
  
  .destination{
    display: block;
    margin: auto;
    /* font-family: 'Source Serif Pro', serif; */
  }

  .vehicle{
    display: block;
    margin: auto;
    /* font-family: 'Source Serif Pro', serif; */
  }

  .box {
    padding: 20px;
    
    margin: auto;
    margin-top: 200px;
    /* margin: 100px 100px; */
    background: rgb(0, 213, 255);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    /* height: 80%;
    width: 50%; */
    max-width: max-content;
    max-width: max-content;
  }
/*   
  .image{
    max-width: fit-content;
    max-height: fit-content;
  } */

  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {

    /* height: 400px; */
    /* width: 50%;  */
    display:flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
 
  select{
    width: 200px;
    height: 40px;
  }
  
  
 form {
  font-size: 2rem;
    
  border: none;
    /* width: 50%; */
    text-align: center;
    margin: auto;
    /* margin-left: 20px; */
  } 
  
  button {
    /* min-height: 50px; */
    /* width: 50px; */
    border-color: transparent;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* font-size: 30px; */
    border-radius: 10px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-family: 'Source Serif Pro', serif;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
    font-family: 'Source Serif Pro', serif;
  }
  
  
